.mainCard {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: -8px;
    width: 30vw;
    height: 86.9vh;
    display: flex;
    flex-direction: column
}
.n-card {
    border-radius: 10px;
    height: 100%;
}
