.img0 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/tLevel/top.svg');
    display: inline-block;
}

.img2 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/tLevel/mid.svg');
    display: inline-block;
    background-repeat: no-repeat;
    color: #4098fc;

}

.img1 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/tLevel/jug.svg');
    display: inline-block;
    background-repeat: no-repeat;
}

.img3 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/tLevel/bot.svg');
    display: inline-block;
    background-repeat: no-repeat;
}

.img4 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/tLevel/sup.svg');
    display: inline-block;
    background-repeat: no-repeat;
}

.content {
    width: 17.5rem;
}

.content .item {
    margin-bottom: 15px
}

.content .item:last-child {
    margin-bottom: 0
}

.content .item .progress {
    display: flex;
    align-items: center
}

@keyframes progress {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 30px 0
    }
}

.content .item .progress .progress-bar .progress-inner {
    width: 0;
    height: 100%;
}

.content .item .progress {
    display: flex;
    align-items: center;
}

.content .item .progress .progress-bar {
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    background: #FFF;
    width: 0;
    min-width: 0;
    flex: 1;
    margin-right: 5px;
}

.content .item .progress .progress-bar .progress-inner-0 {
    background: #bde6ff;
    background-image: linear-gradient(
            135deg, #50bfff 25%, transparent 25%, transparent 50%, #50bfff 50%, #50bfff 75%, transparent 75%, transparent 100%);
    background-size: 30px 30px;
}

.content .item .progress .progress-bar .progress-inner-3 {
    background: #ffd980;
    background-image: linear-gradient(
            135deg, #f7ba2a 25%, transparent 25%, transparent 50%, #f7ba2a 50%, #f7ba2a 75%, transparent 75%, transparent 100%);
    background-size: 30px 30px;
}

.content .item .progress .progress-bar .progress-inner-2 {
    background: #ffa9a9;
    background-image: linear-gradient(
            135deg, #ff4949 25%, transparent 25%, transparent 50%, #ff4949 50%, #ff4949 75%, transparent 75%, transparent 100%);
    background-size: 30px 30px;
}

.content .item .progress .progress-bar .progress-inner-1 {
    background: #ceeab9;
    background-image: linear-gradient(
            135deg, #18a058 25%, transparent 25%, transparent 50%, #18a058 50%, #18a058 75%, transparent 75%, transparent 100%);
    background-size: 30px 30px;
}

.content .item .progress .progress-bar .progress-inner-4 {
    background: rgba(80, 163, 164, 0.3);
    background-image: linear-gradient(
            135deg, #50a3a4 25%, transparent 25%, transparent 50%, #50a3a4 50%, #50a3a4 75%, transparent 75%, transparent 100%);
    background-size: 30px 30px;
}


.content .item .progress .progress-bar .progress-inner {
    height: 100%;
    border-radius: 5px;
    transition: width 0.35s;
    -webkit-animation: progress 750ms linear infinite;
    animation: progress 750ms linear infinite;
}
.progress-percentage {
    font-size: 14px;
    width: 3.5rem;
    color: #9AA4AF;
    line-height: 25px;
}
