.top {
    font-size: 0px;
    width: 30px;
    height: 30px;
    background-image: url('@/assets/tLevel/top.svg');
    display: inline-block;
}

.mid {
    font-size: 0px;
    width: 30px;
    height: 30px;
    background-image: url('@/assets/tLevel/mid.svg');
    display: inline-block;
}

.jungle {
    font-size: 0px;
    width: 30px;
    height: 30px;
    background-image: url('@/assets/tLevel/jug.svg');
    display: inline-block;
    background-repeat: no-repeat;
}

.bottom {
    font-size: 0px;
    width: 30px;
    height: 30px;
    background-image: url('@/assets/tLevel/bot.svg');
    display: inline-block;
}

.support {
    font-size: 0px;
    width: 30px;
    height: 30px;
    background-image: url('@/assets/tLevel/sup.svg');
    display: inline-block;
}
.imgT0 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('@/assets/tLevel/t0.svg');
    display: inline-block;
    background-repeat: no-repeat;
}

.imgT1 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('@/assets/tLevel/t1.svg');
    display: inline-block;
    background-repeat: no-repeat;
}

.imgT2 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('@/assets/tLevel/t2.svg');
    display: inline-block;
    background-repeat: no-repeat;
}

.imgT3 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('@/assets/tLevel/t3.svg');
    display: inline-block;
    background-repeat: no-repeat;
}

.imgT4 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('@/assets/tLevel/t4.svg');
    display: inline-block;
    background-repeat: no-repeat;
}
.imgT5 {
    font-size: 0px;
    width: 24px;
    height: 24px;
    background-image: url('@/assets/tLevel/t5.svg');
    display: inline-block;
    background-repeat: no-repeat;
}
