.top {
    font-size: 0px;
    width: 30px;
    height: 30px;
    background-image: url('@/assets/tLevel/top.svg');
    display: inline-block;
}

.mid {
    font-size: 0px;
    width: 30px;
    height: 30px;
    background-image: url('@/assets/tLevel/mid.svg');
    display: inline-block;
}

.jungle {
    font-size: 0px;
    width: 30px;
    height: 30px;
    background-image: url('@/assets/tLevel/jug.svg');
    display: inline-block;
    background-repeat: no-repeat;
}

.bottom {
    font-size: 0px;
    width: 30px;
    height: 30px;
    background-image: url('@/assets/tLevel/bot.svg');
    display: inline-block;
}

.support {
    font-size: 0px;
    width: 30px;
    height: 30px;
    background-image: url('@/assets/tLevel/sup.svg');
    display: inline-block;
}
