.mainCard {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.n-card {
    border-radius: 10px;
    padding: 5px;
}

.n-avatar {
    float: left;
    margin-right: 15px;
    margin-top: 1px;
}

.pointCard {
    margin-top: 37px;
    height: 300px;
}

.alignCenter {
    align-items: center;
}

.tagWidth {
    width: 85px;
    justify-content: center;
}
