@font-face {
  font-family: "FZBenMoYueYiTiS";
  src: url("assets/fonts/FZBenMoYueYiTiS.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: FZBenMoYueYiTiS, Avenir, Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
}
:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 0;
}

.boxShadow {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.08),
  0 3px 6px 0 rgba(0, 0, 0, 0.06),
  0 5px 12px 4px rgba(0, 0, 0, 0.04);
}

html {
  background: #f5f5f5;
}
.imgFull {
  animation: light 4s ease-in-out infinite;
  transition: 0.5s;
}
@keyframes light {
  0% {
    box-shadow: 0 0 4px #ff6666;
  }

  25% {
    box-shadow: 0 0 16px #18a058;
  }

  50% {
    box-shadow: 0 0 4px #2080f0;
  }

  75% {
    box-shadow: 0 0 16px #f0a020;
  }

  100% {
    box-shadow: 0 0 4px #d03050;
  }
}
.imgFull:hover {
  transform: scale(1.15) rotate(720deg);
}
